/*  html 파일에서 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"> 구문(61행)으로 초기화 자동으로 설정함  */

/*
body{
    color: red;
    font-size: 100px;
    font-family: "Nanum Gothic", sans-serif;
}
*/

/* common */
body{
    font-family: "Nanum Gothic" , sans-serif;
    font-size: 16px;
    font-weight: 400; /*두께*/
    line-height: 1.4;
    color: #333;


    /* 임시로 높이 지정 (badges의 스크롤작업 위해서) */
    height: 3000px;
}
a{
    text-decoration: none;
}

/* img (인라인요소) 하단에 Baseline 공백을 제거 */
img{
    display: block;
}

.inner{
    width: 1100px;
    margin: 0px auto;
    position: relative;
}

/* BUTTON 모음 (공통) */
.btn{
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}
.btn:hover{
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse{
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover{
    background-color: transparent; /*투명*/
    color: #333;
}
.btn.btn--brown{
    color: #592b18;
    border-color: #592b18;
}
.btn.btn--brown:hover{
    color: #fff;
    background-color: #592b18;
}

.btn.btn--gold{
    color: #d9aa8a;
    border-color: #d9aa8a;
}
.btn.btn--gold:hover{
    color: #fff;
    border-color: #d9aa8a;
}

.btn.btn--white{
    color: white;
    border-color: white;
}
.btn.btn-white:hover{
    color: #333;
    border-color: white;
}


/* header (Base-line 설명) */
/*
header{
    background-color: royalblue;
}
header .inner{
    width: 1100px;
    margin: 0px auto;
    background-color: orange;
}
*/

/* header */
header{
    width: 100%;

    background-color: #def4ba;
    border-bottom: 1px solid #b3bda5;

    position: fixed;
    top: 0px;

    z-index: 6;
}
header > .inner{
    /* width: 1100px; */
    height: 120px;
    /* margin: 0px auto; */
    /* background-color: orange; */

    /* position: relative; */
}
/* 
    가로 세로 중앙 정렬 : top:0, bottom:0, left:0, right:0
    .logo(가로 사이즈 값과 세로 사이즈 값 입력)
*/
header .logo{
    height: 75px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

header .sub-menu{
    position: absolute;
    top: 20px;
    right: 0px;
    display: flex;
}
header .sub-menu ul.menu{
    font-family: Arial, sans-serif;
    display: flex;
}
header .sub-menu ul.menu li{
    position: relative;
}
header .sub-menu ul.menu li::before{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #000;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
/* header .sub-menu ul.menu li:nth-of-type(1)::before{
    width: 0px;
} */
header .sub-menu ul.menu li:first-child::before{
    display: none;
}
header .sub-menu ul.menu li a{
    padding: 11px 16px;
    display: block;
    font-size: 13px;
    color: #656565;
}
header .sub-menu ul.menu li a:hover{
    color: #000;
}

header .sub-menu .search{
    /* background-color: red; */
    position: relative;
    height: 34px;
}
header .sub-menu .search input{
    width: 36px;
    height: inherit; /* 부모요소로부터 높이값 상속 */
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: white;
    color: #777;
    font-size: 12px;
    transition: width 0.4s;
}
header .sub-menu .search input:focus{
    width: 190px;
    border-color: #669900;
}
header .sub-menu .search .material-symbols-outlined{
    height: 24px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 5px;
    margin: auto;
    transition: 0.4s;
}
header .sub-menu .search.focused .material-symbols-outlined{
    opacity: 0;
}

/* main-menu */
header .main-menu{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}
header .main-menu .item .item__name{
    padding: 10px 20px 34px 20px;
    font-family: arial, sans-serif;
    font-size: 13px;
}
header .main-menu .item:hover .item__name{
    background-color: #0f6104;
    color: #c7d6a9;
    border-radius: 6px 6px 0px 0px;
}

header .main-menu .item .item__contents{
    width: 100%;
    position: fixed;  /*전체 뷰포트 기준*/
    left: 0px;
    display: none;
}
header .main-menu .item:hover .item__contents{
    display: block;
}
header .main-menu .item .item__contents .contents__menu{
    /* background-color: red; */
    /* height: 200px; */

    background-color: #0f6104;
}
header .main-menu .item .item__contents .contents__menu>ul{
    padding: 20px 0;
    display: flex;
}
header .main-menu .item .item__contents .contents__menu>ul>li{
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu>ul>li h4{
    padding: 3px 0px 12px 0px;
    font-size: 14px;
    color: white;
}
header .main-menu .item .item__contents .contents__menu>ul>li ul li{
    padding: 5px 0px;
    font-size: 12px;
    color: #adadad;
    cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover{
    color: #c7d6a9;
}

header .main-menu .item .item__contents .contents__texture{
    /* background-color: orange; */
    /* height: 100px; */

    padding: 26px 0px;
    font-size: 12px;
    background-image: url(../images/forest5.jpg);
}
header .main-menu .item .item__contents .contents__texture h4{
    color: #c8c8c8;
    font-weight: 700;    
}
header .main-menu .item .item__contents .contents__texture p{
    color: #c7d6a9;
    margin: 4px 0 14px;    
}




/* BADGES */
header .badges{
    position: absolute;
    top: 132px;
    right: 12px;
}
header .badges .badge{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}


/* VISUAL */
/* bxSlider */
.visual{
    margin-top: 120px;
    width: 100%;
    height: 700px;
    background-color: #0f6104;
    
}
#wrapper{
    width: 90%;
    height: 100%;
    margin: 0px auto;
}
.bxslider img{
    height: 90%;
    margin: 0px auto;
}



/* NOTICE */
/* NOTICE Line */
.notice .notice-line{
    position: relative;
}
.notice .notice-line .bg-left{
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
}
.notice .notice-line .bg-right{
    width: 50%;
    height: 100%;
    background-color: #f6f5ed;
    position: absolute;
    top: 0;
    right: 0;
}
.notice .notice-line .inner{
    height: 62px;
    z-index: 1;
    display: flex;
}
.notice .notice-line .inner .inner__left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}
.notice .notice-line .inner__left h2{
    color:  #fff;
    font-size: 17px;
    font-weight: 700px;
    margin-right: 20px;
}
.notice .notice-line .inner__left .swiper{
    height: 62px;
    flex-grow: 1;
}
.notice .notice-line  .inner__left .swiper .swiper-slide{
    height: 62px;
    display: flex;
    align-items: center;
}
.notice .notice-line  .inner__left .swiper .swiper-slide a{
    color: #fff;
}
.notice .notice-line .inner__left .notice-line__more{
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-symbols-outlined{
    color: #fff;
    font-size: 30px;
}
.notice .notice-line .inner__right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.notice .notice-line .inner__right h2{
    font-size: 17px;
    font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion{
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .notice-line .inner__right .toggle--promotion .material-symbols-outlined{
    font-size: 30px;
}

/* PROMOTION */
.notice .promotion{
    height: 693px;

    /* background-color: #f6f5ef; */
    background-color: red;
    
    position: relative;
    overflow: hidden;
    transition: 0.4;
}
.notice .promotion.hide{
    height: 0;
}